/* Keyboard */

#keyboard {
    display: flex;
    flex-flow: row;
    flex: 4;
    padding: 1%;
    height: 100px;
}

.keys {
    display: flex;
    justify-content: center;
    width: 20%;
}

.note {
    flex: 1;
    display: inline-flex;
    align-items: center;
}

.black {
    position: relative;
    justify-content: center;
    height: 60%;
    outline: 2px solid #474747;
    background-color: #474747;
    color: white;
    margin: 0 -4%;
}

.white {
    flex-flow: column;
    justify-content: flex-end;
    outline: 2px solid #d3d3d3;
    color: #474747;
    background-color: #ffffff;
    padding-bottom: 1%;
    flex: 1.6;
}

.selected {
  background-color: #d3d3d3;
  outline: 2px solid #d3d3d3;
}

/* Interface */

.settings {
  display: flex;
  flex-flow: row;
}

.settingbox {
  outline: 1px solid #d3d3d3;
  display: inline-block;
  padding: 5px;
}
